#intro .header h2 {
    color: #170d52; 
}

#video-modal {
    height: 0;
    width: 0;
    transition: opacity 300ms ease;
}

.active#video-modal {
    height: 100%;
    width: 100%;
}

#features {
    margin-top: 163px;
}


#features .feature-list .feature {
    height: 208px;
    padding: 0px;
}


@media screen and (max-width: 1019px) {
    #features {
        margin-top: 32px;
    }
}
