/*
All Resolutions
>>------------->
*/
.purple-button {
  color: #fff;
  background-color: #12063d;
  line-height: 1;
  font-weight: 500;
  text-align: center;
}
.purple-button:hover {
  background-color: #a116b7;
}

/*
Desktop
>>------------->
*/
@media screen and (min-width: 1020px) {
  .purple-button {
    border-radius: 30px;
    padding: 17px 40px;
    font-size: 16px;
  }
}
/*
Mobile
>>------------->
*/
@media screen and (max-width: 1019px) {
  .purple-button {
    border-radius: 30px;
    padding: 14px 30px;
    font-size: 16px;
  }
}
/*
>>================================================================================>
Landing Page
>>================================================================================>
*/
#landing-page {
  /*
  All Resolutions
  >>------------->
  */
  /* Logo */
  /* Copy */
  /* Animation */
  /* Partners */
  /*
  Desktop
  >>------------->
  */
  /*
  Mobile
  >>------------->
  */
}
#landing-page .logo span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#landing-page .copy {
  color: #12063d;
  color: #170d52; /*Updated by Forrest*/
  /*To try: linear-gradient(135deg, #10093a, #22157e, #5b23e1, #a22feb)*/ 
  text-align: center;
  z-index: 2;
}
#landing-page .copy h2 {
  font-weight: 800;
  letter-spacing: 0.02em;
}
#landing-page .copy p {
  font-weight: 400;
  line-height: 1.7em;
}
#landing-page .animation {
  width: 100%;
  position: absolute;
  bottom: 0;
  bottom: -322px;
  z-index: 1;
}
#landing-page .partners {
  position: absolute;
  z-index: 2;
  opacity: 0.6;
  width: 100%;
  text-align: center;
  color: #ffffff;
}
#landing-page .partners h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0.09em;
}
#landing-page .partners .logos ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#landing-page .partners .logos ul li {
  display: inline-block;
  vertical-align: middle;
}
#landing-page .partners .logos ul li span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
@media screen and (min-width: 1020px) {
  #landing-page {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 955px;
    /* Logo */
    /* Copy */
    /* Purple Button */
    /* Animation */
    /* Partners */
  }
  #landing-page .logo {
    position: absolute;
    width: 88px;
    height: 99px;
    top: 28px;
    left: 37px;
  }
  #landing-page .copy {
    position: absolute;
    top: 180px;
    width: 100%;
  }
  #landing-page .copy h2 {
    font-size: 83px;
    margin-bottom: 17px;
  }
  #landing-page .copy p {
    font-size: 23px;
    margin-bottom: 0;
  }
  #landing-page .purple-button {
    position: absolute;
    right: 68px;
    top: 51px;
  }
  #landing-page .animation {
    height: 967px;
  }
  #landing-page .partners {
    bottom: 35px;
  }
  #landing-page .partners h3 {
    font-size: 14px;
    margin-bottom: 32px;
  }
  #landing-page .partners .logos ul li:not(:first-child) {
    margin-left: 105px;
  }
  #landing-page .partners .logos ul li.general {
    width: 205px;
    height: 29px;
  }
  #landing-page .partners .logos ul li.kpcb {
    width: 118px;
    height: 26px;
  }
  #landing-page .partners .logos ul li.lightspeed {
    width: 150px;
    height: 31px;
  }
  #landing-page .partners .logos ul li.pantera {
    width: 152px;
    height: 12px;
  }
}
@media screen and (max-width: 1019px) {
  #landing-page {
    position: absolute;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    /*overflow: hidden;*/
    /* Logo */
    /* Copy */
    /* Purple Button */
    /* Animation */
    /* Partners */
  }
  #landing-page .logo {
    width: 64px;
    height: 72px;
    margin: 22px auto;
  }
}
@media screen and (max-width: 1019px) and (min-width: 768px) {
  #landing-page .content-container {
    width: 100%;
    position: absolute;
    top: 28%;
    transform: translateY(-50%);
  }
}
@media screen and (max-width: 1019px) {
  #landing-page .copy {
    position: relative;
    margin-bottom: 25px;
    padding: 0 30px;
  }
  #landing-page .copy h2 {
    font-size: 44px;
    letter-spacing: 0.01em;
    margin-bottom: 2px;
  }
  #landing-page .copy p {
    font-size: 18px;
  }
}
@media screen and (max-width: 1019px) {
  #landing-page .purple-button {
    position: relative;
    z-index: 2;
    display: table;
    margin: 0 auto;
  }

  #landing-page .purple-button.hide {
    display: none;
  }
}
@media screen and (max-width: 1019px) {
  #landing-page .animation {
    width: 100%;
    overflow: hidden;
    height: 967px;
    bottom: -150px;
  }
}
@media screen and (max-width: 1019px) {
  #landing-page .partners {
    bottom: 12px;
  }
  #landing-page .partners h3 {
    font-size: 13px;
    margin-bottom: 33px;
  }
  #landing-page .partners .logos {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    height: 40px;
  }
  #landing-page .partners .logos ul {
    width: 720px;
    margin: 0 auto;
  }
  #landing-page .partners .logos ul li:not(:first-child) {
    margin-left: 55px;
  }
  #landing-page .partners .logos ul li.general {
    width: 149px;
    height: 22px;
  }
  #landing-page .partners .logos ul li.kpcb {
    margin-top: -6px;
    width: 85px;
    height: 19px;
  }
  #landing-page .partners .logos ul li.lightspeed {
    margin-top: -6px;
    width: 108px;
    height: 23px;
  }
  #landing-page .partners .logos ul li.pantera {
    width: 112px;
    height: 10px;
  }
}

/*
>>================================================================================>
Landing Page Animation
>>================================================================================>
*/
#landing-page-animation {
  /*
  All Resolutions
  >>------------->
  */
  height: 967px;
  position: absolute;
  z-index: 1;
  left: 0;
  overflow: hidden;
  /* Generic Elements */
  /* Specific Waves */
  /*
  Desktop
  >>------------->
  */
  /*
  Mobile
  >>------------->
  */
}
#landing-page-animation .movement-container {
  position: absolute;
  width: 100%;
}
#landing-page-animation .line {
  fill: none;
}
#landing-page-animation .line path {
  stroke: #FFFF00;
  stroke-width: 1.25;
  stroke-miterlimit: 10;
}
#landing-page-animation .dot {
  top: -30px;
  left: -30px;
  position: absolute;
  width: 61px;
  height: 61px;
  background-size: 100% 100%;
}
#landing-page-animation .dot span {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#landing-page-animation .dot:before, #landing-page-animation .dot:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.4);
  animation: dot-pulse 2s infinite;
  transform-origin: center center;
  background-size: 100% 100%;
}
#landing-page-animation .dot:after {
  animation-delay: 500ms;
}
@keyframes dot-pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
  }
}
#landing-page-animation #scrubber {
  position: absolute;
  height: 100%;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  mix-blend-mode: overlay;
}
#landing-page-animation #wave-bg {
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  background-repeat: repeat-x;
  background-position: center;
  background-image: url(../img/landing-page-animation-wave-bg.png);
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  #landing-page-animation #wave-bg {
    background-image: url("../img/landing-page-animation-wave-bg@2x.png");
    background-size: 4000px 967px;
  }
}
#landing-page-animation #bars-bg {
  z-index: 0;
  top: 175px;
  width: 8092px;
  height: 460px;
  left: 50%;
  transform: translateX(-50%);
}
#landing-page-animation #bars-bg .bars {
  position: absolute;
  width: 2023px;
  height: 460px;
  background-image: url(../img/landing-page-animation-bars-bg.png);
}
@media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6/2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  #landing-page-animation #bars-bg .bars {
    background-image: url("../img/landing-page-animation-bars-bg@2x.png");
    background-size: 2023px 460px;
  }
}
#landing-page-animation #wave-1 {
  top: 195px;
  height: 290px;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}
#landing-page-animation #wave-1 .line-container {
  position: absolute;
  width: 2033px;
  height: 290px;
}
#landing-page-animation #wave-1 .line-container .line {
  width: 2033px;
  height: 290px;
}
#landing-page-animation #wave-1 .dot.one span {
  background-image: url(../img/landing-page-animation-heart.svg);
}
#landing-page-animation #wave-1 .dot.two span {
  background-image: url(../img/landing-page-animation-thumb.svg);
}
#landing-page-animation #wave-1 .dot.three span {
  background-image: url(../img/landing-page-animation-heart.svg);
}
#landing-page-animation #wave-1 .dot.four span {
  background-image: url(../img/landing-page-animation-thumb.svg);
}
#landing-page-animation #wave-1 .dot:before, #landing-page-animation #wave-1 .dot:after {
  background-image: url(../img/landing-page-animation-orange-dot.svg);
}
#landing-page-animation #wave-2 {
  top: 245px;
  height: 162px;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}
#landing-page-animation #wave-2 .line-container {
  position: absolute;
  width: 2212px;
  height: 162px;
}
#landing-page-animation #wave-2 .line-container .line {
  width: 2212px;
  height: 162px;
}
#landing-page-animation #wave-2 .dot.one span {
  background-image: url(../img/landing-page-animation-music-1.svg);
}
#landing-page-animation #wave-2 .dot.two span {
  background-image: url(../img/landing-page-animation-music-2.svg);
}
#landing-page-animation #wave-2 .dot.three span {
  background-image: url(../img/landing-page-animation-music-3.svg);
}
#landing-page-animation #wave-2 .dot.four span {
  background-image: url(../img/landing-page-animation-music-2.svg);
}
#landing-page-animation #wave-2 .dot:before, #landing-page-animation #wave-2 .dot:after {
  background-image: url(../img/landing-page-animation-purple-dot.svg);
}
#landing-page-animation #wave-3,
#landing-page-animation #wave-4 {
  top: 330px;
  z-index: 1;
  height: 66px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.2;
}
#landing-page-animation #wave-3 .line-container,
#landing-page-animation #wave-4 .line-container {
  position: absolute;
  width: 2410px;
  height: 66px;
  overflow: hidden;
}
#landing-page-animation #wave-3 .line-container .line,
#landing-page-animation #wave-4 .line-container .line {
  width: 2410px;
  height: 66px;
  opacity: 0.8;
}
@media screen and (min-width: 1020px) {
  #landing-page-animation {
    width: 100%;
  }
}
@media screen and (max-width: 1019px) {
  #landing-page-animation {
    width: 1700px;
    position: absolute;
    transform-origin: bottom center;
    left: 50%;
    bottom: -30px;
    transform: translate(-50%, 0) scale(0.6);
  }
  #landing-page-animation #wave-1 {
    top: 185px;
  }
  #landing-page-animation #wave-2 {
    top: 175px;
  }
  #landing-page-animation #wave-3,
#landing-page-animation #wave-4 {
    top: 250px;
  }
}

/*
>>================================================================================>
Placeholder
>>================================================================================>
*/
#placeholder {
  /*
  All Resolutions
  >>------------->
  */
  /*
  Desktop
  >>------------->
  */
  /*
  Mobile
  >>------------->
  */
}
