body {
/*    font-family: 'Circular Std', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    background-color: #F5F9FD;
}

h1 {
    font-size: 40px;
    line-height: 58px;
    font-weight: 700;
    text-align: center;
    color: #00386c !important;

    margin-top: 300px;

    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;  

    font-size: 65px !important;
    font-weight: 800 !important;
    text-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-transform: uppercase;
    letter-spacing: 0.5px;

    background-image: linear-gradient(135deg, #FC2886, #C32FF6);



    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}